@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ececec;
    background-color: #101220;
    padding: 20px;
}

.container {
    max-width: 1000px;
    width: 100%;
}

header {
    background: url('assets/health1.jpg') center / cover no-repeat;
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 20px 50px;
    border-radius: 16px;
    color: #fff;
}

header .category {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

header .info {
    text-align: center;
}

header .info .tags i {
    font-size: 24px;
    margin-right: 8px;
}

header .info .tags span {
    font-size: 2.5rem;
    font-weight: 400;
}

header .info .title {
    margin: 20px 0;
    font-size: 3rem;
    font-weight: bold;
}

header .info .subtitle,
header .info .subtitle2 {
    max-width: 70%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
}

.details {
    background-color: #101431;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.68);
    color: #ccc;
}

.details .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .item span {
    font-size: 1rem;
    font-weight: bold;
    color: #ccc;
}

.details .item .item-data {
    font-size: 1.2rem;
    font-weight: normal;
}

.details .item .item-text {
    margin-top: 12px;
    font-size: 1.5rem;
}

article {
    margin-top: 50px;
    padding-bottom: 20px;
    line-height: 1.70;
    color: #ececec;
}

article h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

article h4 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

article p {
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

article blockquote {
    margin: 40px 0;
    background-color: #181818;
    padding: 30px;
    border-radius: 16px;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px 20px;
        min-height: 300px;
    }

    header .category {
        font-size: 0.9rem;
    }

    header .info .title {
        font-size: 2.2rem;
    }

    header .info .subtitle,
    header .info .subtitle2 {
        font-size: 0.8rem;
    }

    .details {
        flex-direction: column;
        padding: 15px;
    }

    .details .item:not(:last-child) {
        margin-bottom: 30px;
    }

    article h4 {
        text-align: center;
        font-size: 1.1rem;
    }

    article .item-text {
        text-align: center;
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 0;
    }
    35%, 45% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}

#homeButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #101431;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 16px 18px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 42px;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

#homeButton:hover {
    background-color: #0f0f1d;
    border-color: #fff;
    box-shadow: none;
}
